body{
  overflow:hidden;
  font-family: 'Open Sans', sans-serif;
  color: #111;
  padding:0;
  margin: 0;
}

a{
  text-decoration: none;
  color:inherit;
}

h1{
  font-family: 'Droid Serif', serif;
  font-size: 6em;
  text-align: center;
  width: 100%;
  margin: 30px 0;
}

h2{
  font-family: 'Droid Serif', serif;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

p{
  padding:0 30px;
  text-align: center;
  font-size: 1.1em;
}

nav{
  float:left;
  margin:0;
  width:270px;
  height:100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.im-container{
  max-height:700px;
  overflow: hidden;
}

div.im-overlay{
  height:700px;
  overflow: hidden;
  width:100%;
  background-color: #111;
  opacity: 0.5;
}

img.monochrome{
  filter: grayscale(100%);
}

img.fit{
  width:100%;
  height:auto;
  margin: 0;
}

.fcolor{
  color:#fff;
}

#nav-bar{
  list-style: none;
  padding:0;
  color:#fff;
  text-align: center;
  font-size: 1.2em;
}

#nav-bar li{
  margin:16px;
  transition: opacity 0.3s;
}

#nav-bar li:hover{
  opacity: 0.5;
  cursor: pointer;
}

.content-container{
  height:100%;
  overflow-y: scroll;
}

.overlays{
  position: absolute;
}

.sub{
  min-height: 500px;
  margin: 0;
  overflow: hidden;
}

.grey{
  background-color: #eee;
}
